<h1>List of your Google contacts</h1>
  <div id="googleContacts">
    <input type="text" class="search" />
    <ul class="list">
      <% @sorted_data.each do |person| %>
        <li><p class="fullName"><%= person.try(:name) %> | <%= person.try(:family_name) %></p></li>
      <% end %>
    </ul>
    <ul class="pagination"></li>
  </div>
